<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Clock Shop About Page</title>
</head>
<body>
<h1>The Clock Shop - About Page</h1>
<div class="about-page">
    <p>
        At The Clock Shop, you can design your own wristwatch from our multitude of different watch parts.
        They are all interchangeable and cross compatible, so you can make your own unique design! We take
        pride in our excellent workmanship and each wristwatch is carefully crafted to fit your needs.
    </p>
</div>
<div>
    <a th:href="@{/mainscreen}" class="nav-link active" aria-current="page" href="#">Return Home</a>
</div>
</body>
</html>